In [3]:
print('Hacktiv8')

Hacktiv8

# Integer
integer adalah tipe data di Python yang berupa angka

In [4]:
print(123123)

123123

In [5]:
print(10)

10

In [8]:
type(10)

int

## Floating-Point
Floating point tipe data di Python yang berupa desimal

In [9]:
4.2

4.2

In [10]:
type(4.2)

float

In [11]:
4.

4.0

In [12]:
.2

0.2

In [13]:
4e7

40000000.0

In [14]:
4.2e-4

0.00042

### Strings
String adalah tipe data di Python yang berupa sequence of character data

In [15]:
print('ini adalah tipe data string')

ini adalah tipe data string

In [ ]:
type('ini adalah tipe data string')

In [17]:
print("This string contains a single quote (') character.")

This string contains a single quote (') character.

In [18]:
print('This string contains a double quote (") character.')

This string contains a double quote (") character.

#### Boolean
Boolean adalah tipe data di Phyton yang berupa True atau False

In [19]:
True

True

In [20]:
False

False

In [21]:
type(True)

bool

In [23]:
type(False)

bool

In [24]:
type('True')

str

In [26]:
type(1)

int

##### Variables

Variabel Assignment

In [27]:
n = 300

In [28]:
n

300

In [29]:
print(n)

300

In [31]:
n = k = 300
print(n, k)

300 300

Variabel Names

In [33]:
name = 'Raka'
Age = 26
has_laptops = True
print(name, Age, has_laptops)

Raka 26 True

In [34]:
bola_naga_9 = True

In [35]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

###### Operator and Expression in Python

In [36]:
a = 10
b = 20

In [37]:
a + b

30

In [38]:
a + b - 5

25

Aritmetic Operators

In [39]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [40]:
10 / 5

2.0

Comparison Operators

In [43]:
a = 10
b = 20

print(a == b) # sama dengan
print(a != b) # tidak sama dengan
print(a <= b)
print(a >= b)

False
True
True
False

String Manipulation

In [44]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

foobar

In [45]:
s + t + u

'foobarbaz'

In [47]:
print('hacktiv8 ' + 'Inalum')

hacktiv8 Inalum

In [48]:
# * Operators
s * 4

'foofoofoofoo'

In [49]:
# * In Operators
s = 'foo'
s in 'That food for us'

True

In [50]:
s in 'That good for us'

False

In [57]:
# case conversion
s = 'HackTivAte iNAlum'

In [58]:
# Capitalize
s.capitalize()

'Hacktivate inalum'

In [60]:
# Title
s.title()

'Hacktivate Inalum'

In [61]:
# Lower
print(s.lower())

# UPPERCASE
print(s.upper())

hacktivate inalum
HACKTIVATE INALUM

In [64]:
# swapcase
s.swapcase()

'hACKtIVaTE InaLUM'

8 List
ditandai dengan adanya []

In [65]:
a = ['foo', 'bar', 'baz', 'qux']

In [66]:
a

['foo', 'bar', 'baz', 'qux']

In [67]:
a = [21.24, 'foobar', 3, 4, 'bark', False, 3.14159]

In [68]:
a

[21.24, 'foobar', 3, 4, 'bark', False, 3.14159]

In [69]:
b = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [70]:
b

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [71]:
b[0]

'foo'

In [72]:
b[5]

'corge'

In [74]:
b[-3]

'qux'

In [75]:
# slicing

b[2:5]

['baz', 'qux', 'quux']

In [78]:
b[:5]

['foo', 'bar', 'baz', 'qux', 'quux']

In [79]:
b[2:]

['baz', 'qux', 'quux', 'corge']

In [80]:
print(b)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [81]:
b + ['value1', 'value2']

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'value1', 'value2']

In [82]:
b * 2

['foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge',
 'foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge']

In [83]:
print(b)

len(b)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

6

In [84]:
min(b)

'bar'

In [86]:
max(b)

'qux'

# Modifying single list value

In [89]:
b

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [91]:
b[2] = 10

In [92]:
b

['foo', 'bar', 10, 'qux', 'quux', 'corge']

In [95]:
b[-1] = 20

In [96]:
b

['foo', 'bar', 10, 'qux', 'quux', 20]

In [97]:
del b[3]

In [98]:
b

['foo', 'bar', 10, 'quux', 20]

In [99]:
### Modifying Multiple list Values

In [100]:
b

['foo', 'bar', 10, 'quux', 20]

In [101]:
b[1:4]

['bar', 10, 'quux']

In [102]:
b[1:4] = [1.1, 2.2, 3.3, 20]

In [104]:
b

['foo', 1.1, 2.2, 3.3, 20, 20]

# Tuples

In [105]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
t

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [107]:
t[0]

'foo'

In [108]:
t[-1]

'corge'

In [109]:
t[0] = 'newvalue'

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [110]:
identitas = {
    'Fname': 'Reza',
    'Lname': 'Piscelio',
    'Age': 26
}

In [111]:
identitas

{'Fname': 'Reza', 'Lname': 'Piscelio', 'Age': 26}

In [113]:
identitas['Age']

26

In [114]:
identitas['Fname']

'Reza'

In [115]:
identitas['Alamat']

KeyError: 'Alamat'

In [116]:
identitas['Pekerjaan'] = 'Analyst'

In [118]:
identitas

{'Fname': 'Reza', 'Lname': 'Piscelio', 'Age': 26, 'Pekerjaan': 'Analyst'}

In [120]:
identitas['Pekerjaan']

'Analyst'

In [121]:
identitas['Pekerjaan'] = 'Data Scientist'

In [122]:
identitas

{'Fname': 'Reza',
 'Lname': 'Piscelio',
 'Age': 26,
 'Pekerjaan': 'Data Scientist'}

In [123]:
del identitas['Pekerjaan']

In [124]:
identitas

{'Fname': 'Reza', 'Lname': 'Piscelio', 'Age': 26}

In [133]:
person = {}

In [134]:
type(person)

dict

In [135]:
person['fname'] = 'Nama Depan'
person['lname'] = 'Nama Belakang'
person['age'] = 30
person['children'] = ['Anak 1', 'Anak 2', 'Anak3']

In [136]:
person

{'fname': 'Nama Depan',
 'lname': 'Nama Belakang',
 'age': 30,
 'children': ['Anak 1', 'Anak 2', 'Anak3']}

In [137]:
person['pets'] = {'dog': 'dogName', 'cat': 'catName'}

In [138]:
person

{'fname': 'Nama Depan',
 'lname': 'Nama Belakang',
 'age': 30,
 'children': ['Anak 1', 'Anak 2', 'Anak3'],
 'pets': {'dog': 'dogName', 'cat': 'catName'}}

In [139]:
person['age']

30

In [140]:
person['children']

['Anak 1', 'Anak 2', 'Anak3']

In [141]:
person['children'][1]

'Anak 2'

In [142]:
person['children'][2]

'Anak3'

In [143]:
person['pets']

{'dog': 'dogName', 'cat': 'catName'}

In [144]:
person['pets']['cat']

'catName'

In [145]:
d = [1,2,3,[4,5,6],7]

In [146]:
d[3]

[4, 5, 6]

In [147]:
d[3][0]

4

In [148]:
d = {'a': 10, 'b': 20, 'c':30}

In [149]:
# keys
d.keys()

dict_keys(['a', 'b', 'c'])

In [150]:
#values
d.values()

dict_values([10, 20, 30])

In [151]:
#python statements

print ('Hello World!')

x = [1,2,3]

Hello World!

In [155]:
#line Continuation

person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [156]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) or 
    (person2_age >= 18 and person2_age <= 65) or 
    (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True

In [158]:
a = [[1,2,3], [4,5,6], [7,8,9]]

In [159]:
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [160]:
s =\
    'Hello World'

In [161]:
s

'Hello World'

In [163]:
# multiple statement per line

x = 1; y = 2; z = 3

print(x); print(y); print(z)

1
2
3

In [164]:
#comments

a = ['foo', 'bar'] # variable a berisi list foo dan bar

In [165]:
a

['foo', 'bar']

In [166]:
b = '# im not comment'

In [167]:
b

'# im not comment'

In [169]:
"""
initialize value for radius of circle

Then calculate the area of the circle
and display the result to the notebook
"""

pi = 3.14
r = 12

area = pi * (r ** 2)
print('The area of cicle is', area)

The area of cicle is 452.16

# Conditional

In [170]:
# if statement

x = 0
y = 5

if x < y:
    print('yes')
if y < x:
    print('yes')
if 'aul' in 'grault':
    print('yes')

yes
yes

In [174]:
if <expr>:
    <sttm>
    <sttm>
    <sttm>
    <sttm>
    
<statement>

SyntaxError: invalid syntax (<ipython-input-174-393cb9d0705c>, line 1)

In [172]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing Statement')
    print('...')
    print('Done')
    
print('after conditional')

after conditional

In [175]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('outer condition is true')
    
    if 10 > 20:
        print('Inner Condition 1')
        
    Print('Between inner condition')
    
    if 10 > 20:
        print('Inner Condition 2')
        
    Print('end of of router condition')
    
print('after outer condition')

outer condition is true

NameError: name 'Print' is not defined

In [176]:
# one line if statement

if <expr>:
    <statement>
    
if <expr>: <statement>
    
if <expr>: <statement1>; <statement2>; <statement3>; <statementn>

SyntaxError: invalid syntax (<ipython-input-176-ab820dd60c27>, line 3)

In [177]:
if 'f' in 'foo':print('1'); print('2'); print('3')

1
2
3

In [178]:
x = 2

if x == 1:
    print('foo')
    print('bar')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

qux
quux

In [179]:
## ternary operator (Conditional Expression)

<expr1> if <condt_expr> else <expr2>

SyntaxError: invalid syntax (<ipython-input-179-1f524d451ac0>, line 3)

In [180]:
age = 12

'teen' if age < 21 else 'adult'

'teen'

In [181]:
if a > b:
    m = a
else:
    m = b
    
m = a if a > b else b

TypeError: '>' not supported between instances of 'list' and 'str'

In [183]:
## pass statement

if True:
    pass

print('foo')

foo

In [ ]:
## while

while <expr>:
    <statement>

In [184]:
n = 5

while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [ ]:
# break and continue

In [186]:
n = 5

while n > 0: # 4
    n -= 1 #4 #3
    if n == 2: #4 !=2
        break # pass
    print(n) # 4 3
    
print('Loop Ended')

4
3
Loop Ended

In [187]:
n = 5

while n > 0: # 4
    n -= 1 #4 #3
    if n == 2: #4 !=2
        continue # pass
    print(n) # 4 3
    
print('Loop Ended')

4
3
1
0
Loop Ended

In [ ]:
# else clause

while <expr>:
    <statement>
else:
    <additional_statement>

In [188]:
n = 5

while n > 0:
    n -= 1
    print(n)
else
    print('Loop done.')

SyntaxError: invalid syntax (<ipython-input-188-cfbacb073132>, line 6)

In [190]:
n = 5

while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
else
    print('Loop Ended.')

SyntaxError: invalid syntax (<ipython-input-190-ca05cf4e4f32>, line 8)

In [191]:
# one - line while loops

n = 5

while n > 0: n -= 1; print(n)

4
3
2
1
0

In [ ]:
# For Loops

for <var> in <iterable>:
    <statement>

In [192]:
a = ['foo', 'bar', 'baz']

for i in a:
    print(i)

foo
bar
baz

In [194]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

for k in d:
    print(k)

foo
bar
baz

In [195]:
for k in d:
    print(d[k])

1
2
3

In [196]:
d['foo']

1

In [197]:
for v in d.values():
    print(v)

1
2
3

In [201]:
# range function

x = range(10)

In [202]:
x

range(0, 10)

In [203]:
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [204]:
# break and continue

In [206]:
for i in ('foo', 'bar', 'baz', 'qux'):
    if 'z' in i:
        break
    print(i)

foo
bar

In [207]:
for i in ('foo', 'bar', 'baz', 'qux'):
    if 'z' in i:
        continue
    print(i)

foo
bar
qux

In [208]:
# else clause

for i in ('foo', 'bar', 'baz', 'qux'):
    print(i)
else:
    print('done')

foo
bar
baz
qux
done

In [209]:
for i in ('foo', 'bar', 'baz', 'qux'):
    if 'z'in i:
        break
    print(i)
else:
    print('done')

foo
bar

In [2]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 28C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("masukan input yang benar")

print("Temperaturenya adalah", result)

Ketikan temperatur yang ingin dikonversi, eg. 45F, 28C: 20C
Temperaturenya adalah 68

In [3]:
while True:
    msg = input("Ketikan karakter: ")
    print(msg)
    if msg == 'stop':
        break

Ketikan karakter: a
a
Ketikan karakter: a
a
Ketikan karakter: a
a
Ketikan karakter: stop
stop